.imganime{
    transition:1s ease;
    }

.imganime:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    transition: 1s ease;
    }



