#myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1; /* Placez la vidéo derrière les autres éléments */
        opacity: 0.6; /* Diminuez l'opacité pour que le texte reste lisible */
      }


